<div class="container">
  <mat-card class="login-card">
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
        <mat-form-field class="field">
          <mat-label>Username</mat-label>
          <input [formControl]="username" matInput placeholder="Username">
        </mat-form-field>
        <mat-form-field class="field">
          <mat-label>Password</mat-label>
          <input [formControl]="password" matInput type="password" placeholder="Password">
        </mat-form-field>
        <button mat-raised-button color="primary" type="button" (click)="login()">
          Login
        </button>
    </mat-card-content>
  </mat-card>
</div>
